.link
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.altkisim
{
    color: white;
}
.sapka
{
 font-size: 25px;
 background: radial-gradient(circle, rgba(184,0,255,1) 0%, rgba(121,9,96,1) 65%, rgba(255,0,168,1) 100%);
}