.arkaplan
{
    background-color: #000000;
}
.altcerceve
{
    border-bottom: 2px solid #ffffff;
}
.baslik
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font: bold;
}
.logo
{
    color:#ffffff;
}
.y
{
    color: #c70d3a;
}
.e
{
    color: #ffffff;
}
.t
{
    color: #46b5d1;
}
.n
{
    color: #ffa259;
}
.h
{
    color: #ffffff;
}
.a
{
    color: #9d0b0b;
}
.c
{
    color: #ffffff;
}
.k
{
   color: #4dd599;
}
.dot
{
    color: #ffffff;
}










